<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.POST_PROMOTED_NOTIFICATIONS" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="28" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_DATA_SYNC" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_SPECIAL_USE" />
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS" />
    <uses-permission android:name="android.permission.ACCESS_NOTIFICATION_POLICY" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <queries>
        <intent>
            <action android:name="android.support.customtabs.action.CustomTabsService" />
        </intent>
    </queries>

    <application
        android:name=".CourseScheduleApp"
        android:allowBackup="false"
        android:fullBackupContent="@xml/scvtc_backup_rules"
        android:dataExtractionRules="@xml/scvtc_data_extraction_rules"
        android:enableOnBackInvokedCallback="true"
        android:icon="@drawable/ic_kejian_calendar"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_kejian_calendar"
        android:networkSecurityConfig="@xml/network_security_config"
        android:supportsRtl="true"
        android:usesCleartextTraffic="true"
        android:theme="@style/AppTheme"
        tools:targetApi="tiramisu">
        <activity android:name="cn.scvtc.campus.ScvtcLoginActivity" android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.app.action.AUTOMATIC_ZEN_RULE" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <meta-data
                android:name="android.service.zen.automatic.ruleType"
                android:value="SleepDown 课程勿扰" />
            <meta-data
                android:name="android.service.zen.automatic.ruleInstanceLimit"
                android:value="1" />
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="content" />
                <data android:scheme="file" />
                <data android:mimeType="text/calendar" />
                <data android:mimeType="text/x-vcalendar" />
                <data android:mimeType="application/ics" />
            </intent-filter>
            <intent-filter tools:ignore="AppLinkUrlError">
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="content" />
                <data android:scheme="file" />
                <data android:pathPattern=".*\.ics" />
                <data android:pathPattern=".*\.ICS" />
            </intent-filter>
            <intent-filter tools:ignore="AppLinkUrlError">
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="content" />
                <data android:scheme="file" />
                <data android:mimeType="application/octet-stream" />
                <data android:pathPattern=".*\.ics" />
                <data android:pathPattern=".*\.ICS" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="text/calendar" />
                <data android:mimeType="text/x-vcalendar" />
                <data android:mimeType="application/ics" />
            </intent-filter>
        </activity>
        <activity-alias android:name="cn.scvtc.campus.CampusActivity" android:exported="true" android:targetActivity=".MainActivity" />
        <activity-alias
            android:name=".LauncherFollow"
            android:enabled="true"
            android:exported="true"
            android:icon="@drawable/ic_kejian_minimal"
            android:label="@string/app_name"
            android:targetActivity=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>
        <activity-alias
            android:name=".LauncherLight"
            android:enabled="false"
            android:exported="true"
            android:icon="@drawable/ic_kejian_minimal"
            android:label="@string/app_name"
            android:targetActivity=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>
        <activity-alias
            android:name=".LauncherDark"
            android:enabled="false"
            android:exported="true"
            android:icon="@drawable/ic_kejian_minimal"
            android:label="@string/app_name"
            android:targetActivity=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>
        <activity-alias
            android:name=".LauncherKanbanFollow"
            android:enabled="false"
            android:exported="true"
            android:icon="@drawable/ic_kejian_calendar"
            android:label="@string/app_name"
            android:targetActivity=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>
        <activity-alias
            android:name=".LauncherKanbanLight"
            android:enabled="false"
            android:exported="true"
            android:icon="@drawable/ic_kejian_calendar"
            android:label="@string/app_name"
            android:targetActivity=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>
        <activity-alias
            android:name=".LauncherKanbanDark"
            android:enabled="false"
            android:exported="true"
            android:icon="@drawable/ic_kejian_calendar"
            android:label="@string/app_name"
            android:targetActivity=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>
        <activity
            android:name=".SettingsDetailActivity"
            android:exported="true"
            android:label="@string/backup_open_with_label"
            android:theme="@style/AppTheme"
            android:parentActivityName=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:mimeType="application/vnd.sleepdown" />
                <data android:mimeType="application/octet-stream" />
                <data android:mimeType="application/zip" />
                <data android:mimeType="application/x-zip-compressed" />
            </intent-filter>
            <intent-filter tools:ignore="AppLinkUrlError">
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="content" />
                <data android:scheme="file" />
                <data android:pathPattern=".*\.sleepdown" />
                <data android:pathPattern=".*\.SLEEPDOWN" />
            </intent-filter>
        </activity>
        <activity
            android:name=".QuickSheetSettingsDetailActivity"
            android:exported="false"
            android:theme="@style/AppTheme.TranslucentMorph"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".feature.settings.ScheduleAdjustmentsActivity"
            android:exported="false"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustResize"
            android:parentActivityName=".SettingsDetailActivity" />
        <activity
            android:name=".ScheduleManagerActivity"
            android:exported="false"
            android:theme="@style/AppTheme"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".CourseManagementActivity"
            android:exported="false"
            android:theme="@style/AppTheme.TranslucentMorph"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".OplusCourseManagementActivity"
            android:exported="false"
            android:theme="@style/AppTheme.OplusSeamlessDetail"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".CourseManagementDetailActivity"
            android:exported="false"
            android:theme="@style/AppTheme.TranslucentMorph"
            android:parentActivityName=".CourseManagementActivity" />
        <activity
            android:name=".OplusCourseManagementDetailActivity"
            android:exported="false"
            android:theme="@style/AppTheme.OplusSeamlessDetail"
            android:parentActivityName=".CourseManagementActivity" />
        <activity
            android:name=".EduSchoolSelectActivity"
            android:exported="false"
            android:theme="@style/AppTheme.TranslucentMorph"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".OplusEduSchoolSelectActivity"
            android:exported="false"
            android:theme="@style/AppTheme.OplusSeamlessDetail"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".EduImportActivity"
            android:exported="false"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustResize"
            android:parentActivityName=".EduSchoolSelectActivity" />
        <activity
            android:name=".feature.schedule.autorefresh.SwuUnifiedAuthActivity"
            android:exported="false"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustResize"
            android:parentActivityName=".SettingsDetailActivity" />
        <activity
            android:name=".AiEduImportProgressActivity"
            android:exported="false"
            android:theme="@style/AppTheme"
            android:parentActivityName=".EduImportActivity" />
        <activity
            android:name=".AiImportHistoryActivity"
            android:exported="false"
            android:theme="@style/AppTheme.TranslucentMorph"
            android:parentActivityName=".AiEduImportProgressActivity" />
        <activity
            android:name=".OplusAiImportHistoryActivity"
            android:exported="false"
            android:theme="@style/AppTheme.OplusSeamlessDetail"
            android:parentActivityName=".AiEduImportProgressActivity" />
        <activity
            android:name=".AiImportHistoryDetailActivity"
            android:exported="false"
            android:theme="@style/AppTheme.TranslucentMorph"
            android:parentActivityName=".AiImportHistoryActivity" />
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
        <receiver android:name=".CourseAlarmReceiver" android:exported="false" />
        <receiver android:name=".LiveUpdateActionReceiver" android:exported="false" />
        <service
            android:name=".LiveUpdateForegroundService"
            android:exported="false"
            android:foregroundServiceType="specialUse">
            <property
                android:name="android.app.PROPERTY_SPECIAL_USE_FGS_SUBTYPE"
                android:value="Course reminder live update while a class reminder is active" />
        </service>
        <service
            android:name=".DayAgentForegroundService"
            android:exported="false"
            android:foregroundServiceType="dataSync" />
        <service
            android:name=".AiImportForegroundService"
            android:exported="false"
            android:foregroundServiceType="dataSync" />
        <receiver
            android:name=".TodayCoursesWidgetProvider"
            android:label="@string/widget_today_courses_name"
            android:exported="true">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.MY_PACKAGE_REPLACED" />
                <action android:name="android.intent.action.DATE_CHANGED" />
                <action android:name="android.intent.action.TIME_SET" />
                <action android:name="android.intent.action.TIMEZONE_CHANGED" />
                <action android:name="${applicationId}.action.REFRESH_TODAY_WIDGET" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/today_courses_widget_info" />
        </receiver>
        <receiver
            android:name=".TodayCoursesSquareWidgetProvider"
            android:label="@string/widget_today_courses_square_name"
            android:exported="true">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/today_courses_square_widget_info" />
        </receiver>
        <receiver
            android:name=".TodayTomorrowWidgetProvider"
            android:label="@string/widget_today_tomorrow_name"
            android:exported="true">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/today_tomorrow_widget_info" />
        </receiver>
        <receiver
            android:name=".TodayAssistantWidgetProvider"
            android:exported="true"
            android:label="@string/widget_today_assistant_name">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/today_assistant_widget_info" />
        </receiver>
        <receiver
            android:name=".CourseBootReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.LOCKED_BOOT_COMPLETED" />
                <action android:name="android.intent.action.MY_PACKAGE_REPLACED" />
                <action android:name="android.intent.action.DATE_CHANGED" />
                <action android:name="android.intent.action.TIME_SET" />
                <action android:name="android.intent.action.TIMEZONE_CHANGED" />
                <action android:name="android.app.action.SCHEDULE_EXACT_ALARM_PERMISSION_STATE_CHANGED" />
            </intent-filter>
        </receiver>
    </application>
</manifest>
